{% extends "dashboard/dashboard.html" %}
{% block title %}Admin Dashboard{% endblock title %}
{% block tasks %}
<section class="mt-5">
  <table class="w-4/5 mx-auto border text-center bg-white drop-shadow-xl">
    <thead>
      <tr class="bg-gray-100">
        <th>Task</th>
        <th>Priority</th>
        <th>Team</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <td class="p-2">Complete project Proposal</td>
        <td class="p-2">High</td>
        <td class="p-2">Team A</td>
        <td class="p-2">2021-09-01</td>
      </tr>
      <tr class="">
        <td class="p-2">Complete project Proposal</td>
        <td class="p-2">High</td>
        <td class="p-2">Team A</td>
        <td class="p-2">2021-09-01</td>
      </tr>
      <tr class="">
        <td class="p-2">Complete project Proposal</td>
        <td class="p-2">High</td>
        <td class="p-2">Team A</td>
        <td class="p-2">2021-09-01</td>
      </tr>
    </tbody>
  </table>
</section>

{% endblock tasks %}