{% extends "dashboard/dashboard.html" %}
{% block title %}Admin Dashboard{% endblock title %}
{% block tasks %}
<section class="mt-5">
  <table class="w-4/5 mx-auto border text-center bg-white drop-shadow-xl">
    <thead>
      <tr class="bg-gray-100">
        <th>Task</th>
        <th>Priority</th>
        <th>Team</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for task in all_tasks %}
      <tr class="">
        <td class="p-2">{{task.title}}</td>
        <td class="p-2">{{task.details.get_priority_display}}</td>
        <td class="p-2">Team A</td>
        <td class="p-2">{{task.created_at|timesince}} ago</td>
        <td>
          <a href="{% url 'update-task' task.id %}"><button class="text-black border p-2 border-black">Edit</button></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>

{% endblock tasks %}